<!-- encoding: utf8 -->

{% extends "base.html" %}

{% block title %}
english level checker
{% endblock %}

{% block head %}
<script type='text/javascript'>
{% if data is defined %}
var rcv_data = {{ data|tojson|safe }}
{% else %}
var rcv_data = null
{% endif %}
</script>
<script src="{{url_for('static', filename='js/checker.js')}}"></script>
{% endblock %}

{% block content %}
<div class='container' id='maincontent'>
  <div class='p-3'>
    <div class='row'>
      <div class='col col-md'>
        <div class='float-right'>
          <button type="button" 
                  class="btn btn-outline-dark" 
                  id='help_button' 
                  data-toggle="modal" 
                  data-target="#modal_help">
            使い方
          </button>
          <button type="button" 
                  class="btn btn-outline-dark" 
                  id='disclaimer_button' 
                  data-toggle="modal" 
                  data-target="#modal_disclaimer">
            免責事項
          </button>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs flex-column flex-sm-row" id='selector'>
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill text-sm-center nav-link active" 
           role="tab" 
           data-toggle="tab" 
           id='textbook' 
           aria-controls="textbook" 
           href='#textbook'>
          Textbook
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill text-sm-center nav-link" 
           role="tab" 
           data-toggle="tab" 
           id='essay' 
           aria-controls="essay" 
           href='#essay'>
          Essay
        </a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content mt-3">
      <div id="active-tab" 
           class="tab-pane active" 
           role="tabpanel" 
           aria-labelledby="tab">
        <form>
          <div class="form-group">
            <textarea class="form-control" 
                      id="inputtext" 
                      rows="3" 
                      placeholder="please input text"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class='row'>
      <div class='col col-md'>
        <div class='float-right'>
          <span id='num_of_word'>0</span>/10
          <i class="fas fa-ban" id='check_mark'></i>
          &nbsp;
          <button type="button" 
                  class="btn btn-primary" 
                  id='submit_button' 
                  disabled=''>
            submit
          </button>
          <a role="button" 
             class="btn btn-light" 
             id='button_clear' 
             href="./">
            clear
          </a>
        </div>
      </div>
    </div>
  </div>
{% if data is defined %}
  <div class='row px-3' id='result'>
    <div class='col-md-8'>
      <div class='row border-top'>
        <div class='col-md-3'>
          <div class='row'>
            <div class='col-md text-center'>
              <p>文数</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md text-center'>
              <p id='r_num_of_chars'>0</p>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='row'>
            <div class='col-md text-center'>
              <p>単語数</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md text-center'>
              <p id='r_num_of_words'>0</p>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='row'>
            <div class='col-md text-center'>
              <p>使用文法項目数</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md text-center'>
              <p id='r_num_of_grammers'>0</p>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='row'>
            <div class='col-md text-center'>
              {% if is_essay %}
              <p>推定誤り数</p>
              {% endif %}
            </div>
          </div>
          <div class='row'>
            <div class='col-md text-center'>
              {% if is_essay %}
              <p id='r_num_of_incorrect'>0</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if grammer_contents is defined %}
      <div class='row pt-3'>
        <div class='col-md'>
          <table class="table table-hover">
            <tr>
              <th>使用文法項目</td>
              <th>頻度</td>
            </tr>
            {% for content in grammer_contents %}
            <tr>
              <td>{{ content[0] }}</td>
              <td>{{ content[1] }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    <div class='col-md-4'>
      <div class='row border-top'>
        <div class='col-md text-center'>
          <p >CEFRランク</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md text-center'>
          <p id='r_cefr_level' class='h2'></p>
        </div>
      </div>
      <div class='row mb-3'>
        <div class='col'>
          <div class='row'>
            <div class='col-md text-center'>
              <button type="button" 
                      class="btn btn-info btn-sm" 
                      data-toggle="collapse" 
                      data-target="#feedback_form" 
                      aria-expanded="false" 
                      aria-controls="feedback_form"
                      id='expand_feedbackform_form'>
                間違ったCEFRランクを訂正する
              </button>
            </div>
          </div>
          <div class='collapse' id='feedback_form'>
            <div class='row'>
              <div class='col-md'>
                <div class="border m-3">
                  <form>
                    <div class="row m-3">
                      正しいCEFRランクを選択、送信して下さい
                    </div>
                    <div class="row m-3">
                      <div class="col-md">
                        <select class="form-control form-control-sm" 
                                id="right_cefr_rank" 
                                name="cefr_rank">
                          <option>A1</option>
                          <option>A2</option>
                          <option>B1</option>
                          <option>B2</option>
                          <option>C1</option>
                          <option>C2</option>
                        </select>
                      </div>
                    </div>
                    <div class="row m-3">
                      <div class="col-md-4 text-center">
                        <button type="button" 
                                class="btn btn-info btn-sm" 
                                id='send_feedback'>
                          送信
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row border-top'>
        <div class='col-md text-center'>
          <p>使用語彙レベル割合</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md'>
          <canvas id="level_chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div>
  本Webアプリの利用者は、本Webアプリにデータを送信した時点で、
  <a href="#" data-toggle="modal" data-target="#modal_disclaimer">免責事項</a>を
  了解したものとします。
</div>
{% endif %}
<div class="modal fade" tabindex="-1" id="modal_help" 
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">Webアプリの使い方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md">
                <img src="{{url_for('static', filename='image/help_slide.png')}}" 
                     class="img-fluid mx-auto d-block" 
                     alt="help image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" id="modal_disclaimer" 
     role="dialog" aria-labelledby="myNormalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">免責事項</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <ol>
                <li> 文法事項は CEFR-J の文法プロファイルの項目が網羅的にリスト化されるわけではありません。
                <li> 現状では、エラー判定は精度が高くありません。
                <li> 結果は自動分析です。完璧な物ではないことをご留意の上、自己責任で利用して下さい。
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}